<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messanger">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="Encryption Messenger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat.ChooseEncryption" />
        <activity android:name=".Messages.MessageActivity" />
        <activity android:name=".ChatCreation.CreateChat" />
        <activity android:name=".MightUse.Trying.SearchUsers" />
        <activity android:name=".Chat.ChatListActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>